{{!we need variables here}}
<<<<<<< HEAD
{{! 
<div class="col">
=======

{{! <div class="col">
>>>>>>> main
  <div class="card shadow-sm">
    <img src="http://placekitten.com/g/300/200" />
    <div class="card-body">
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This content is a little bit
        longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
          >View</button>
          <button
            type="button"
            class="btn btn-sm btn-outline-secondary"
          >Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div> --}}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="http://placekitten.com/g/300/200"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>


<script src="../javascript/save-button.js"></script>


