
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="http://placekitten.com/g/300/200" class="img-fluid rounded-start verticalAlign" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div>
          <h6>What Animals did you see on this Trail?</h4>
          <select class="form-select" aria-label="Default select example">
            <option selected>Animals</option>
            <option value="1">Hawks</option>
            <option value="2">Deer</option>
            <option value="3">Turtles</option>
          </select>
        </div>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

      </div>
    </div>
  </div>
</div>