
<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="{{trail_img}}" class="img-fluid rounded-start verticalAlign" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{trails}} </h5>
        <p> AllTrails Link: {{link alltrails alltrails}}</p>
        {{!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> --}}
        <h6>What Animals did you see on this Trail?</h4>
        <div>
          <select name="animalSubmit" class="form-select" aria-label="Default select example">
            <option value="All">Animals</option>
            <option value="Deer">Deer</option>
            <option value="Bear">Bear</option>
            <option value="Turtle">Turtle</option>
            <option value="Cow">Cow</option>
            <option value="Dog">Dog</option>
            <option value="Mountain Lion">Mountain Lion</option>
            <option value="Coyote">Coyote</option>
            <option value="Hawk">Hawk</option>
            <option value="Pig">Pig</option>
            <option value="Horse">Horse</option>
            <option value="Lizard">Lizard</option>
            <option value="Bobcat">Bobcat</option>
            <option value="Crane">Crane</option>
            <option value="Blue Herring">Blue Herring</option>
            <option value="Blue Jay">Blue Jay</option>
            <option value="Llama">Llama</option>
            <option value="Emu">Emu</option>
            <option value="Donkey">Donkey</option>
            <option value="Fish">Fish</option>
            <option value="Raccoon">Raccoon</option>
            <option value="Opossum">Opossum</option>
            <option value="Skunk">Skunk</option>
            <option value="Frog">Frog</option>
            <option value="Beaver">Beaver</option>
            <option value="River Otter">River Otter</option>
            <option value="Snake">Snake</option>
            <option value="Squirrel">Squirrel</option>
            <option value="Quail">Quail</option>
            <option value="Woodpecker">Woodpecker</option>
            <option value="Bat">Bat</option>
            <option value="Rat">Rat</option> 
          </select>
          <button type="button" class="submitAnimal btn btn-primary">Submit</button>          
        </div>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<script src="../javascript/submit-animal.js"></script>
<script type='text/javascript' src='js/handlebars-v4.7.7.js'></script>
