<section class="yourTrails">

    <div class="album py-5 bg-light">
        <h1>Your Trails</h1>
        <div class="container">
            <div class="">
                {{#each trailArray as |trail| }}
                {{> cards-dashboard trail }}
                {{/each}}
            </div>
        </div>
    </div>

</section>