<main class="hero">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">

      <div class="col-12 col-md-8 mx-auto">
        <h1 class="fw-light text-light">Walk'n Spot</h1>
        <p class="lead text-light">Find & share your favorite animals</p>
        <div class="d-lg-flex">
          <input type="text" id="CityInput" class="form-control rounded-0 mb-3" aria-label="Text input with dropdown button"
            placeholder="Search your city for a trail to" />
          <div class="input-group">
            <select name="AnimalInput" class="form-select rounded-0 mb-3" aria-label="Default select example">
              <option value="All">Find Animals</option>
              <option value="Bat">Bat</option>
              <option value="Bear">Bear</option>
              <option value="Beaver">Beaver</option>
              <option value="Blue Herring">Blue Herring</option>
              <option value="Bluejay">Bluejay</option>
              <option value="Bobcat">Bobcat</option>
              <option value="Cow">Cow</option>
              <option value="Coyote">Coyote</option>
              <option value="Crane">Crane</option>
              <option value="Deer">Deer</option>
              <option value="Dog">Dog</option>
              <option value="Donkey">Donkey</option>
              <option value="Emu">Emu</option>
              <option value="Fish">Fish</option>
              <option value="Frog">Frog</option>
              <option value="Hawk">Hawk</option>
              <option value="Horse">Horse</option>
              <option value="Lizard">Lizard</option>
              <option value="Llama">Llama</option>
              <option value="Mountain Lion">Mountain Lion</option>
              <option value="Opossum">Opossum</option>
              <option value="Pig">Pig</option>
              <option value="Quail">Quail</option>
              <option value="Raccoon">Raccoon</option>
              <option value="Rat">Rat</option>
              <option value="River Otter">River Otter</option>
              <option value="Skunk">Skunk</option>
              <option value="Snake">Snake</option>
              <option value="Squirrel">Squirrel</option>
              <option value="Turtle">Turtle</option>
              <option value="Woodpecker">Woodpecker</option>

            </select>
            <select name="AvoidInput" class="form-select rounded-0 mb-3" aria-label="Default select example">
              <option value="None">Avoid Animals</option>
              <option value="Bat">Bat</option>
              <option value="Bear">Bear</option>
              <option value="Beaver">Beaver</option>
              <option value="Blue Herring">Blue Herring</option>
              <option value="Bluejay">Bluejay</option>
              <option value="Bobcat">Bobcat</option>
              <option value="Cow">Cow</option>
              <option value="Coyote">Coyote</option>
              <option value="Crane">Crane</option>
              <option value="Deer">Deer</option>
              <option value="Dog">Dog</option>
              <option value="Donkey">Donkey</option>
              <option value="Emu">Emu</option>
              <option value="Fish">Fish</option>
              <option value="Frog">Frog</option>
              <option value="Hawk">Hawk</option>
              <option value="Horse">Horse</option>
              <option value="Lizard">Lizard</option>
              <option value="Llama">Llama</option>
              <option value="Mountain Lion">Mountain Lion</option>
              <option value="Opossum">Opossum</option>
              <option value="Pig">Pig</option>
              <option value="Quail">Quail</option>
              <option value="Raccoon">Raccoon</option>
              <option value="Rat">Rat</option>
              <option value="River Otter">River Otter</option>
              <option value="Skunk">Skunk</option>
              <option value="Snake">Snake</option>
              <option value="Squirrel">Squirrel</option>
              <option value="Turtle">Turtle</option>
              <option value="Woodpecker">Woodpecker</option>
            </select>
            <button type="button" class="SearchCity btn btn-primary mb-3"><i class="fas fa-search text-light rounded-0"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<section class="section">
  <div class="container">
    <div id="map"></div>
  </div>
</section>

{{! -----RESULT  CARDS  START }}
<section class="card-section">
  <div class="card-container">
    <div id="cards"></div>
  </div>
</section>

<script src="../javascript/result.js"></script>
<script src="../javascript/save-button.js"></script>