:root {
  --color1: #4d4b30;
  --color2: #9acd32;
  --color3: #798270;
  --color4: #e1c9b2;
  --color5: #925217;
  --color6: #56371a;
  --color7: #5c8e2b;
  --color8: black;
}

body {
  /* background-color: var(--color8); */
  background-image: url("../assets/images/pawprint-4.jpg");
  /* opacity: 0.5; */
  background-repeat: none;
  z-index: 9999;
  font-size: 16px;
}

.lg-icon {
  font-size: 1.5rem;
}

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../assets/images/hero-deer-2.jpg");
  background-size: cover;
  background-position: 50% 30%;
}

#map {
  display: none;
  margin-top: 20px;
  height: 350px;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 22px;
  font-weight: lighter;
  font-size: 23px;
}

header nav ul li a:hover {
  background: var(--color2);
  border-radius: 15px;
  color: black;
}

h5 {
  /* color: black; */
  color: var(--color1);
}

.form-signin form div label,
.drop-title {
  /* color: grey; */
  color: var(--color1);
}

.input-size {
  width: 300px !important;
}

.result-card-div {
  background-color: var(--color4);
}

.card-trail-url {
  text-decoration: none;
  margin: 1rem 0;
  color: var(--color4);
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--color5);
  /* border: 0.8em black; */
  border-radius: 15px;
}

.card-trail-url:hover {
  background: var(--color2);
  border-radius: 15px;
  color: var(--color1);
}

.trail-save-btn {
  text-decoration: none;
  margin: 1rem 0;
  color: var(--color4);
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--color7);
  /* border: 3px black; */
  border-radius: 15px;
}

.trail-link-btn:hover {
  background: var(--color2);
  border-radius: 15px;
  color: var(--color1);
}

.verticalAlign {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.sightingTitle {
  font-size: 25px;
}

.btn-pallet-d1 {
  background-color: #F1E9DC;
}

.btn-pallet-d2 {
  background-color: #B69779;
}

.btn-primary {
  background-color:#5C8E2B;
  border-color:#5C8E2B;
}

.btn-primary:hover {
  background-color:#9ACD32;
  border-color:#5C8E2B;
}

a {
  color:#5C8E2B;
}

a:hover {
  color:#9ACD32;
}

@media screen and (min-width: 488px) {
  .result-card-img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .result-card-img {
    width: auto;
  }
}
