.lg-icon {
    font-size:1.5rem;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.55), rgba(0,0,0,.55)), url("../assets/images/hero-deer-2.jpg");
    background-size:cover;
    background-position: 50% 30%;
}

#map {
    margin-top: 20px; 
    height: 350px; 
}